<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
  <rules>
    <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
      <match url="^server.js\/debug[\/]?" />
    </rule>
    <!-- Adaugă această regulă pentru API -->
    <rule name="ApiRequests" stopProcessing="true">
      <match url="^api/.*" />
      <action type="Rewrite" url="server.js" />
    </rule>
    <rule name="StaticContent">
      <action type="Rewrite" url="public{REQUEST_URI}"/>
    </rule>
    <rule name="DynamicContent">
      <conditions>
        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
      </conditions>
      <action type="Rewrite" url="server.js"/>
    </rule>
  </rules>
</rewrite>
    <!-- Adăugat pentru gestionarea îmbunătățită a erorilor și securitate -->
    <httpErrors existingResponse="PassThrough" />
    <security>
      <hiddenSegments>
        <add segment="node_modules" />
      </hiddenSegments>
    </security>
    <requestFiltering>
      <requestLimits maxAllowedContentLength="52428800" />
    </requestFiltering>
    <!-- Setări opționale pentru logging și performanță -->
    <iisnode 
      watchedFiles="*.js;iisnode.yml"
      loggingEnabled="true"
      nodeProcessCommandLine="node --max-http-header-size=16384" />
  </system.webServer>
</configuration>